*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #42445A;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.card{
  
  height: 35rem;
  width:20rem;
  background-color: #D5D6EB;
 overflow: hidden;
 border-radius: 8px;
  box-shadow: 0 0 1rem #868798;
}
.card-cover{
  display: flex;
  width: 20rem;
  height: 8.7rem;
  background-image: -webkit-linear-gradient(bottom left, #5C10A7, #3A6EAF);
  background-image: -moz-linear-gradient(bottom left, #5C10A7, #3A6EAF);
  background-image: -o-linear-gradient(bottom left, #5C10A7, #3A6EAF);
  background-image: linear-gradient(to top right, #5C10A7, #3A6EAF);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.user-pic{
  padding-left:9.1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 1rem;
  width: 1rem;
}
  img{
    border-radius:3.4rem ;
    
    height: 6.8rem;
    width: 6.8rem; 
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .username{
    display: flex;
    justify-content: center;
  }
  .name{
    
    font-weight: 330;
    padding-top: 3.9rem;
    align-items: center;
    padding-left: 3.5rem;
    justify-content: center;
  }
  .description{
    padding-top: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .links{
    padding-left: 23px;
   display: flex;
  }
  .links1{
    padding-left: 50px;
  }
  footer{
    display: flex;;
  }
  .insta-logo{
    box-shadow: 0 0 0.4rem black;
    height: 3.3rem;
    width: 3.3rem;
  }
  .whatsapp-logo{
    box-shadow: 0 0 0.4rem black;
    height: 3.3rem;
    width: 3.3rem;
    border: none;
    outline: none;
  }
  .twitter-logo{
    box-shadow: 0 0 0.4rem black;
    height: 3.3rem;
    width: 3.3rem;
    display: flex;
  }
  .twiter-div{
    padding-left: 50px;
  }
  .cr{
    height:40px;
    width: 140px;
    font-size: 10px;
    padding-left: 180px;
    padding-top: 20px;
  }
  .msg-btn{
    height: 40px;
    width: 90px;
    border-radius:5px;
    background-color: #6670DF;
  }
  .message{
    padding-bottom: 1rem;
    padding-left: 6.6rem;
  }
  .contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .c-text{
    color: #000000;
    font-weight:500;
    padding-bottom: 12px;
    
  }
  sup{
    font-weight: 100;
  }
