* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #7B83DB,#1e3e70);
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  backdrop-filter: blur(10px);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  
}
.container h2 {
  font-size: 30px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.container #dot {
  font-size: 20px;
  font-weight: bold;
}

.container #ampm {
  font-size: 10px;
  margin-left: 5px;
  position: relative;
  top: -20px;
}
@keyframes animate1{
  0%,100%{
    transform: translateY(10px)
  }
  50%{
    transform: translateY(0px)
  }
}
@keyframes animate2{
  0%,100%{
    transform: translateY(10px)
  }
  50%{
    transform: translateY(0px)
  }
}
@keyframes animate3{
  0%,100%{
    transform: translateY(10px)
  }
  50%{
    transform: translateY(0px)
  }
}
.floats1{
  position: absolute;
  left: 10px;
  bottom: 140px;
  height: 70px;
  width: 70px;
  background: linear-gradient(to bottom,#03457c,rgba(255,255,255,0.5));
  border-radius: 10px;
  animation: animate1 4s infinite ease-in-out;
}
.floats2{
  position: absolute;
  right: 10px;
  bottom: 160px;
  height: 90px;
  width: 90px;
  background: linear-gradient(to bottom, #dc2d7a , rgba(255,255,255,0.5) );
  border-radius: 10px;
  animation: animate2 5s infinite ease-in-out;
}
.floats3{
  position: absolute;
  left: 100px;
  bottom: 290px;
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, #fac776, rgba(255,255,255,0.5));
  border-radius: 10px;
  animation: animate3 3s infinite ease-in-out;
}