/** *{
  padding: 0;
  margin: 0;
}
body{
  background-color: #42445A;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.card{
 position:relative;
 
 height: 34rem;
 width:21rem;
 background-color: #D5D6EB;
 overflow: hidden;
 border-radius: 5px;
 box-shadow: 0 0 1rem #868798;
}
.card-cover{
  
  position: absolute;
  width: 21rem;
  height: 9rem;
  background-image: -webkit-linear-gradient(bottom left, #5C10A7, #3A6EAF);
  background-image: -moz-linear-gradient(bottom left, #5C10A7, #3A6EAF);
  background-image: -o-linear-gradient(bottom left, #5C10A7, #3A6EAF);
  background-image: linear-gradient(to top right, #5C10A7, #3A6EAF);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.user-pic{
  top:8.3rem;
  left: 15%;
  position: relative;
  padding-left:7rem;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 1rem;
  width: 1rem;
}
  img{
    border-radius:50% ;
    position: absolute;
    height: 6.8rem;
    width: 6.8rem; 
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .username{
    display: flex;
    justify-content: center;
  }
  .name{
    font-weight: 300;
    padding-top: 3.9rem;
    align-items: center;
    padding-left: 1.9rem;
    justify-content: center;
  }
  .description{
    margin-top:1rem;
    position: relative;
    top: 6rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .insta-div{
   position: relative;
   left:3.3rem;
  }
  .wa-div{
    position: relative;
    left:3.8rem;
  }
  footer{
    display: flex;;
  }
  .insta-logo{
    box-shadow: 0 0 0.4rem black;
    height: 3.3rem;
    width: 3.3rem;
    position: relative;
    top: 7rem;
  }
  .whatsapp-logo{
    box-shadow: 0 0 0.4rem black;
    height: 3.3rem;
    width: 3.3rem;
    position: relative;
    top: 7rem;
    margin-left: 2rem;
  }
  .twitter-logo{
    box-shadow: 0 0 0.4rem black;
    height: 3.3rem;
    width: 3.3rem;
    display: flex;
    position: relative;
    top: 7rem;
  }
  .twiter-div{
    position: relative;
    left:6.1rem;
  }
  .copyright-div{
    height:40px;
    width:200px;
    font-size: 10px;
    position: relative;
    left: 14.8rem;
    top: 15.8rem;
    
  }
  li{
    list-style: none;
  } */
 *{
  padding: 0;
  margin: 0;
}
body{
  background-color: #42445A;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.card{
 position:relative;
 
 height: 34rem;
 width:21rem;
 background-color: #D5D6EB;
 overflow: hidden;
 border-radius: 5px;
 box-shadow: 0 0 1rem #868798;
}
.card-cover{
  
  position: absolute;
  width: 21rem;
  height: 9rem;
  background-image: -webkit-linear-gradient(bottom left, #5C10A7, #3A6EAF);
  background-image: -moz-linear-gradient(bottom left, #5C10A7, #3A6EAF);
  background-image: -o-linear-gradient(bottom left, #5C10A7, #3A6EAF);
  background-image: linear-gradient(to top right, #5C10A7, #3A6EAF);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.user-pic{
  top:8.3rem;
  left: 15%;
  position: relative;
  padding-left:7rem;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 1rem;
  width: 1rem;
}
  img{
    border-radius:50% ;
    position: absolute;
    height: 6.8rem;
    width: 6.8rem; 
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .username{
    display: flex;
    justify-content: center;
  }
  .name{
    font-weight: 300;
    padding-top: 3.9rem;
    align-items: center;
    padding-left: 1.9rem;
    justify-content: center;
  }
  .description{
    margin-top:1rem;
    position: relative;
    top: 6rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .insta-div{
   position: relative;
   left:3.3rem;
  }
  .wa-div{
    position: relative;
    left:3.8rem;
  }
  footer{
    display: flex;;
  }
  .insta-logo{
    box-shadow: 0 0 0.4rem black;
    height: 3.3rem;
    width: 3.3rem;
    position: relative;
    top: 7rem;
  }
  .whatsapp-logo{
    box-shadow: 0 0 0.4rem black;
    height: 3.3rem;
    width: 3.3rem;
    position: relative;
    top: 7rem;
    margin-left: 2rem;
  }
  .twitter-logo{
    box-shadow: 0 0 0.4rem black;
    height: 3.3rem;
    width: 3.3rem;
    display: flex;
    position: relative;
    top: 7rem;
  }
  .twiter-div{
    position: relative;
    left:6.1rem;
  }
  .copyright-div{
    height:40px;
    width:200px;
    font-size: 10px;
    position: relative;
    left: 14.8rem;
    top: 15.8rem;
    
  }
  li{
    list-style: none;
  }
